{% extends "base.html" %}
{% block content %}

<a href="/components_list/add_new_component">Add new component</a>
<head>
  <title>My Nice Table</title>
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Component</th>
        <th>Description</th>
        <th>Status</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for component in components %}
      <tr>
        <td>{{ component.component_id }}</td>
        <td><a href="{{ url_for('component_view', component_id=component.component_id) }}">{{ component.component_name }}</a></td>
        <td>{{ component.component_description }}</td>
        <td>{{ component.component_status }}</td>
        <td>{{ comments_list[loop.index -1] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
{% endblock %}


