{% extends "base.html" %}
{% block content %}

<a href="/components_list/add_new_component">Add new component</a>
<br><b>Components list:</b>
<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-0lax"><b>ID</b></th>
        <th class="tg-0lax"><b>Name</b></th>
        <th class="tg-0lax"><b>Description</b></th>
        <th class="tg-0lax"><b>Status</b></th>
        <th class="tg-0lax"><b>Comment</b></th>
      </tr>
    </thead>
    <tbody>
      {% for component in components %}
      <tr>
        <td class="tg-0lax">{{ component.component_id }}</td>
        <td class="tg-0lax"><a href="{{ url_for('component_view', component_id=component.component_id) }}">{{ component.component_name }}</a> </td>
        <td class="tg-0lax">{{ component.component_description }}</td>
        <td class="tg-0lax">{{ component.component_status }}</td>
        {% for x in component.component_comments %}
        <td class="tg-0lax">{{ x.component_comment_text }}</td>
        {% endfor %}
      </tr>
      {% endfor %}

    </tbody>
    </table>




{% endblock %}

