{% extends "base.html" %} {% block content %}

<a href="/soi_list/add_new_soi">Add new SOI</a>
<body>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>SOI</th>
        <th>Description</th>
        <th>Status</th>
        <th>Check</th>
        <th>Comment</th>
        <th>Components</th>
      </tr>
    </thead>
    <tbody>
      {% for soi in sois %}
      <tr>
        <td>{{ soi.soi_id }}</td>
        <td><a href="{{ url_for('soi_view', soi_id=soi.soi_id) }}">{{ soi.soi_name }}</a></td>
        <td>{{ soi.soi_description }}</td>
        <td>{{ soi.soi_status }}</td>
        <td><a href="{{ url_for('soi_change_check', soi_id=soi.soi_id) }}">{{ soi.soi_check }}</a></td>
        <td><a href="{{ url_for('add_soi_comment', soi_id=soi.soi_id) }}">{{ last_comments[loop.index -1] }}</a></td>
        <td>{{ used_components[loop.index -1][0] }}</td>
      </tr> 
      {% endfor %}
    </tbody>
  </table>
</body>
{% endblock %}
