{% extends "base.html" %} {% block content %}

<a href="/soi_list/add_new_soi">Add new SOI</a>
<body>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>SOI</th>
        <th>Description</th>
        <th>Dummy</th>
        <th>Status</th>
        <th>Check</th>
        <th>Comment</th>
        <th>Components</th>
      </tr>
    </thead>
    <tbody>
      {% for soi in sois %}
      <tr>
        <td>{{ soi.id }}</td>
        <td><a href="{{ url_for('soi_view', id=soi.id) }}">{{ soi.name }}</a></td>
        <td>{{ soi.description }}</td>
        <td>{{ soi.dummy }}</td>
        <td>{{ soi.status }}</td>
        <td><a href="{{ url_for('change_check', table_name='soi', id=soi.id) }}">{{ soi.check }}</a></td>
        <td><a href="{{ url_for('add_product_comment', table='soi', id=soi.id) }}">{{ last_comments[loop.index -1] }}</a></td>
        <td>{{ used_components[loop.index -1][0] }}</td>
      </tr> 
      {% endfor %}
    </tbody>
  </table>
</body>
{% endblock %}
