{% extends "base.html" %}
{% block content %}

<a href="/system_list/add_new_system">Add new system</a>
<body>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>System</th>
        <th>Status</th>
        <th>Check</th>
        <th>Note</th>
        <th>Last comment</th>
      </tr>
    </thead>
    <tbody>
      {% for system in systems %}
      <tr>
        <td>{{ system.id }}</td>
        <td><a href="{{ url_for('system_view', id=system.id) }}">{{ system.name }}</a></td>
        <td>{{ system.status }}</td>
        <td><a href="{{ url_for('change_check', table_name='system', id=system.id) }}">{{ system.check }}</a></td>
        <td><a href="{{ url_for('add_new_note', table='system', id=system.id) }}">{{ system.note }}</a></td>
        <td><a href="{{ url_for('add_product_comment', table='system', table2 = 'system_comment', id=system.id) }}">{{ last_comments[loop.index -1].text }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
{% endblock %}