{% extends "base.html" %}
{% block content %}

<a href="/systems_list/add_new_system">Add new system</a>
<body>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>System</th>
        <th>Status</th>
        <th>Check</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for system in systems %}
      <tr>
        <td>{{ system.id }}</td>
        <td><a href="{{ url_for('system_view', id=system.id) }}">{{ system.name }}</a></td>
        <td>{{ system.status }}</td>
        <td><a href="{{ url_for('system_change_check', id=system.id) }}">{{ system.check }}</a></td>
        <td>{{ comments_list[loop.index -1] }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
{% endblock %}