{% extends "base.html" %}
{% block content %}
<head><style>th { width: 220px; }</style></head>
<body>
  <b>Component info</b>
  <table>
    <tr>
        <th>ID</th>
        <td>{{ component.id }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ component.name }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ component.description }}</td>
    </tr>
    <tr>
      <th>Supplier</th>
      <td>{{ component.supplier }}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td><a href="{{ url_for('product_change_status', table='component', id=component.id) }}">{{ component.status }}</a></td>
    </tr>
    <tr>
      <th>Used in SOI</th>
      <td>soi list todo</td>
    </tr>
    <th><a href="{{ url_for('add_product_comment', table='component', table2 = 'component_comment', id=component.id) }}">Comments</a></th>
    <td><ul>
        {% for comment in comments_list %}
        <li>{{ comment.text }}&nbsp{{ comment.timestamp.strftime("%d/%m/%Y, %H:%M") }}</li>
        {% endfor %}
    </ul></td>
  </table>
</body>
{% endblock %}
