{% extends "base.html" %}
{% block content %}
<tbody>
  <table>
    <tr>
      <th>ID</th>
      <td colspan="4">{{ component.id }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td class="tg-0lax" colspan="4">{{ component.name }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td colspan="4">{{ component.description }}</td>
    </tr>
    <tr>
      <th>Check</th>
      <td colspan="4"><a href="{{ url_for('change_check',table_name='component', id=component.id) }}">{{ component.check }}</a></td>
    </tr>
    <tr>
      <th>Supplier</th>
      <td colspan="4">{{ component.supplier }}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td colspan="4"><a href="{{ url_for('product_change_status', table='component', id=component.id) }}">{{ component.status }}</a></td>
    </tr>
    <tr>
      <th>Note</th>
      <td colspan="3"><a href="{{ url_for('add_new_note', table='component', id=component.id) }}">{{ component.note }}</a></td>
    </tr>
    <tr>
      <th>Group</th>
      <td colspan="3"><a href="{{ url_for('group_view', id=group.id) }}">{{ group.name }}</a></td>
    </tr>
    <tr>
      <th rowspan="{{ sois|length + 1 }}">Used in SOI</th>
      <th><copy_button type="copy_button" onClick="copyListToClipboard('{{ sois_names }}')">SOI</copy_button></th>
      <th>Status</th>
      <th>Last comment</th>
    </tr>
    {% for soi in sois %}
    <tr>
      <td><a href="{{ url_for('soi_view', id=soi.id) }}">{{ soi.name }}</a></td>
      <td>{{ soi.status }}</td>
      <td>{{ sois_last_comment[loop.index-1].text }}</td>
    </tr>
    {% endfor %}
    <tr>
      <th rowspan="{{ comments|length + 1 }}"><a href="{{ url_for('add_product_comment', table='component', table2 = 'component_comment', id=component.id) }}">Comments</a</th>
      <th>Comment</th>
      <th>Date</th>
      <th colspan="2">Action</th>
    </tr>
    {% for comment in comments %}
    <tr>
      <td>{{ comment.text }}</td>
      <td>{{ moment(comment.timestamp).format('DD/MM/YYYY HH:MM') }}</td>
      <td colspan="2"><a href="{{ url_for('remove_product_comment', table='component', table2='component', product_id=component.id, comment_id=comment.id) }}">Remove</a></td>
    </tr>
    {% endfor %}
  </table>
</tbody>
{% endblock %}
