{% extends "base.html" %}
{% block content %}
<tbody>
  <table>
    <tr>
      <th>ID</th>
      <td>{{ group.id }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ group.name }}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td><a href="{{ url_for('product_change_status', table='group', id=group.id) }}">{{ group.status }}</a></td>
    </tr>
    <tr>
      <th>Check</th>
      <td><a href="{{ url_for('change_check',table_name='group', id=group.id) }}">{{ group.check }}</a></td>
    </tr>
  </table>
  <table>
    <thead>
      <tr>
        <th rowspan="2">SOI</th>
        <th rowspan="2">SOI status</th>
        {% for component in components %}
        <th rowspan="1"><a href="{{ url_for('component_view', id=component.id) }}">{{ component.name }}</a></th>
        {% endfor %}
      </tr>
      <tr>
        {% for component in components %}
        <th rowspan="1">{{ component.status }}</th>
        {% endfor %}
      </tr>
    </thead>
      {% for soi, usages in soi_usage %}
      <tr>
        <td><a href="{{ url_for('soi_view', id=soi.id) }}">{{ soi.name }}</a></td>
        <td>{{ soi.status }}</td>
        {% for usage in usages %}
        <td>{{ usage }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
  </table>
 
</tbody>
{% endblock %}
