{% extends "base.html" %}
{% block content %}
<body>
    <b>SOI info</b>
    <p>ID: {{ soi.soi_id }}</p>
    <p>Name: {{ soi.soi_name }}</p>
    <p>Description: {{ soi.soi_description}}</p>
    <p>Status: <a href="{{ url_for('soi_change_status', soi_id=soi.soi_id) }}">{{ soi.soi_status }}</a></p>
    <a href="{{ url_for('add_comp_soi', soi_id=soi.soi_id) }}">Add component</a>
    <p>List of used in systems</p>
    <a href="{{ url_for('add_soi_comment', soi_id=soi.soi_id) }}">Add new comment</a>
    <ul>
        {% for comment in comments_list %}
        <li>
            {{ comment.soi_comment_text }}&nbsp
            {{ comment.timestamp_soi_comment.strftime("%d/%m/%Y, %H:%M") }}
        </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
