{% extends "base.html" %}
{% block content %}
<table>
    <tbody>
      <tr>
        <th>ID</th>
        <td colspan="6">{{ soi.id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td colspan="6">{{ soi.name }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td colspan="6">{{ soi.description }}</td>
      </tr>
      <tr>
        <th>Dummy</th>
        <td colspan="6"><a href="{{ url_for('change_dummy', id=soi.id) }}">{{ soi.dummy }}</a></td>
      </tr>
      <tr>
        <th>Check</th>
        <td colspan="6"><a href="{{ url_for('change_check',table_name='soi', id=soi.id) }}">{{ soi.check }}</a></td>
      </tr>
      <tr>
        <th>Status</th>
        <td colspan="6"><a href="{{ url_for('product_change_status', table='soi', id=soi.id) }}">{{ soi.status }}</a></td>
      </tr>
      <tr>
        <th>Note</th>
        <td colspan="6"><a href="{{ url_for('add_new_note', table='soi', id=soi.id) }}">{{ soi.note }}</a></td>
      </tr>
      <tr>
        <th>Group</th>
        {% if group is not none %}   
        <td colspan="6"><a href="{{ url_for('my_group_view', id=group.id) }}">{{ group.name }}</a></td>
        {% else %}
        <td colspan="6">None</td>
        {% endif %}
      </tr>
      <tr>
        <th rowspan="{{ components|length + 1 }}"><a href="{{ url_for('add_comp_soi', id=soi.id) }}">Components used</a></th>
        <th><copy_button type="copy_button" onClick="copyListToClipboard('{{ components_names }}')">Component</copy_button></th>
        <th>Status</th>
        <th>Usage</th>
        <th>Main</th>
        <th>Last comment</th>
        <th>Action</th>
      </tr>
      {% for component in components %}
      <tr>
        <td><a href="{{ url_for('component_view', id=component.id) }}">{{ component.name }}</a></td>
        <td>{{ component.status }}</td>
        <td>{{ components_details[loop.index-1].usage }}</td>
        <td>{{ components_details[loop.index-1].main }}</td>
        <td>{{ components_last_comment[loop.index-1].text }}</td>
        <td><a href="{{ url_for('remove_component_soi', id=soi.id, component_id=component.id) }}">Remove</a></td>
      </tr>
      {% endfor %}
      <tr>
        <th rowspan="{{ systems|length + 1 }}"><a href="{{ url_for('add_system_soi', id=soi.id) }}">Used in systems</a></th>
        <th>Name</th>
        <th>Status</th>
        <th colspan="4">Action</th>
      </tr>  
      {% for system in systems %}
      <tr>
        <td><a href="{{ url_for('system_view', id=system.id) }}">{{ system.name }}</a></td>
        <td>{{ system.status }}</td>
        <td colspan="4"><a href="{{ url_for('remove_system_soi', id=soi.id, system=system.name) }}">Remove</a></td>
      </tr>
        {% endfor %}
      <tr>
        <th rowspan="{{ comments|length + 1 }}"><a href="{{ url_for('add_product_comment', table='soi', table2 = 'soi_comment', id=soi.id) }}">Comments</a</th>
        <th>Comment</th>
        <th>Date</th>
        <th colspan="4">Action</th>
      </tr>
      {% for comment in comments %}
      <tr>
        <td>{{ comment.text }}</td>
        <td>{{ moment(comment.timestamp).format('DD/MM/YYYY HH:MM') }}</td>
        <td colspan="4"><a href="{{ url_for('remove_product_comment', table='soi', table2='soi', product_id=soi.id, comment_id=comment.id) }}">Remove</a></td>
      </tr>
      {% endfor %}

    </tbody>
</table>
{% endblock %}
