{% extends "base.html" %}
{% block content %}
<body>
    <b>System info</b>
    <p>ID: {{ system.id }}</p>
    <p>Name: {{ system.name }}</p>
    <p>Check: <a href="{{ url_for('change_check',table_name='system', id=system.id) }}">{{ system.check }}</a></p>
    <p>Status: <a href="{{ url_for('product_change_status', table='system', id=system.id) }}">{{ system.status }}</a></p>
    <a href="{{ url_for('add_product_comment', table='system', table2 = 'system_comment', id=system.id) }}">Comments:</a>
    <ul>
        {% for comment in comments_list %}
        <li>
            {{ comment.text }}&nbsp
            {{ comment.timestamp.strftime("%d/%m/%Y, %H:%M") }}
        </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
