{% extends "base.html" %}
{% block content %}

<p>Add new component</p>
<form action="" method="post" novalidate>
    {{form.hidden_tag()}}
    <p style="font-size:18px">
        1. {{ form.component_name.label }}: {{ form.component_name(style='height: 20px; width:200px') }}<br><br>
        2. {{ form.component_description.label }}: {{ form.component_description(style='height: 20px; width:200px') }}<br><br>
        3. {{ form.component_status.label }}: {{ form.component_status(style='height: 20px; width:200px') }}<br><br>
        {{ form.submit() }} <br>
        {% for error in form.component_name.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}<br>
    </p>
</form>
{% endblock %}

