{% extends "base.html" %}
{% block content %}

<p>Join component to SOI: {{ soi.name }} </p>
<form action="" method="post" novalidate>
    {{form.hidden_tag()}}
    <p style="font-size:18px">
        {{ form.component.label }}:<br>{{ form.component(style='height: 50px; width:300px') }}<br><br>
        {{ form.usage.label }}:<br>{{ form.usage() }}<br><br>
        {{ form.main.label }}<br>{{ form.main(style='height: 20px; width:20px') }}<br><br>
        {{ form.submit() }}<br>
        {% for error in form.component.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}<br>
    </p>
</form>
{% endblock %}