 
 a, p, b, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
 }
 a {
  margin-right: 10px;
}

 table {
  font-family: Helvetica;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 3px;
}

thead th {
  position: sticky;
  top: 0;
}

tr:nth-child(even){background-color: #DFF5CE;white-space: nowrap;}

tr:hover {background-color: #DEE2FC;}

th {
  position: sticky;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #86B049;
  color: black;
}

h1 {
  font-size: 36px;
  color: #333;
}

.menu {
	background-color: #476930;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.menu a {
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
	font-size: 20px;
}

content
.container{
  max-width: 90%;
}

copy_button {
  color: #000000;
  background-color: #7ca540;
  font-size: 16px;
  border: 1px solid #000000;
  padding: 5px 10px;
  cursor: pointer
}
copy_button:hover {
  background-color: #ffffff;
}