 
 a, p, b, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
 }
 a {
  margin-right: 10px;
}

 /* table */
 table {
  font-family: Helvetica;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
thead th {
  position: sticky;
  top: 0;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  position: sticky;

  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #bdbdbd;
  color: white;
}

h1 {
  font-size: 36px;
  color: #333;
}

/* menu */
.menu {
	background-color: #454545;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.menu a {
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
	font-size: 20px;
}

content
.container{
  max-width: 90%;
}
