{% extends "base.html" %}
{% block content %}
<body>
  <table>
    <thead>
    <th colspan="3">{{ group.name }}<br><a href="{{ url_for('add_my_group_product', id=group.id) }}">Add new products</a></th>
      <tr>
        <th>SOI</th>
        <th>Component</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {% for pair in data %}
        <tr>
        <td>{{ pair[0].name }}</td>
        <td>{{ pair[1].name }}</td>
        <td><a href="{{ url_for('remove_my_group_product',id=group.id, pair_id=pair[2].id) }}">Remove</a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  </body>

{% endblock %}
