{% extends "base.html" %}
{% block content %}

<b>Component info</b>
<p>Component ID: {{ component.component_id }}</p>
<p>Component name: {{ component.component_name }}</p>
<p>Component name: {{ component.component_description}}</p>
<p>Component status: {{ component.component_status }}</p>
<p>Change status</p>
<p>Add SOI usage</p>
<a href="{{ url_for('add_component_comment', component_id=component.component_id) }}">Add new comment</a>
{% for comment in comments_list %}
<br>{{ comment.component_comment_text }}
{% endfor %}


{% endblock %}
