{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<body>
  <p>Date: {{ current_date }}</p><a href="/todo/completed_true">Closed TODOs</a>
  <form action="" method="post" novalidate>
    <p>
      {{ form.hidden_tag() }}
      {{ form.text.label }}:{{ form.text(style='width:400px') }}
      {{ form.priority.label }}:{{ form.priority(style='height: 20px; width:100px') }}
      {{ form.deadline.label }}:{{ form.deadline() }}
      {{ form.submit() }} <br>
      {% for error in form.text.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </p>
  </form>
  <button id="myButton">Test button</button>
  <table>
    <thead>
      <tr>
        <th>No</th>
        <th>TODO</th>
        <th>Priority</th>
        <th>Deadline</th>
        <th>Created</th>
        <th>Completed?</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
        {% if todo.deadline == current_date %}
          <tr style="background-color: red;">
        {% else %}
          <tr>
        {% endif %}
          <td>{{ loop.index }}</td>
          <td>{{ todo.text }}</td>
          <td>{{ todo.priority }}</td>
          <td>{{ todo.deadline }}</td>
          <td>{{ moment(todo.timestamp).format('DD/MM/YYYY') }}</td>      
          <td><a href="{{ url_for('change_status_todo', id=todo.id) }}">{{ todo.completed }}</a></td>
          <td><a href="{{ url_for('remove_todo', id=todo.id) }}">Remove</a></td>
        </tr> 
      {% endfor %}
    </tbody>
  </table>
</body>
{% endblock %}